#wrapper-calculator
  %div{id: "shareButtonLabelCount", class: "social-share-inline"}
  :javascript
    $("#shareButtonLabelCount").jsSocials({
      url: "#{root_url}",
      text: "Compara de cuanto sera tu pension segun el sistema actual, propuesta del gobierno y propuesta ICP #pensionsv",
      showCount: true,
      showLabel: true,
      shares: [{ share: "twitter", label: "Twitear" }, { share: "facebook", label: "Compartir" }]
    })

- unless @salario.nil? || @salario <= 0
  #results
    .container
      .row
        .col-md-12.col-sm-12
          %h2.no-margin-bottom
            Pensión a recibir
          .comision-savings.comision-savings-bg
            .row
              .col-xs-7.col-sm-6.col-sm-offset-1.col-md-6.col-md-offset-2
                %p.my-savings
                  = "Según sistema actual: "
              .col-xs-5.col-sm-5.col-md-4
                %span= number_to_currency(@pension_segun_ahorros_actual)
            .row
              .col-xs-7.col-sm-6.col-sm-offset-1.col-md-6.col-md-offset-2
                %p.my-savings
                  = "Según propuesta del gobierno: "
              .col-xs-5.col-sm-5.col-md-4
                %span= number_to_currency(@pension_aproximada_reforma)
                %span.glyphicon.glyphicon-arrow-up
            .row
              .col-xs-7.col-sm-6.col-sm-offset-1.col-md-6.col-md-offset-2
                %p.my-savings
                  = "Según propuesta de AFP: "
              .col-xs-5.col-sm-5.col-md-4
                %span= number_to_currency(@pension_aproximada_asafondos)
                %span.glyphicon.glyphicon-arrow-down
          %br
          .canvas-holder
            .chart-title-current-system
              = t('.current_system')
            .chart-current-system
              = "#{number_to_currency(@pension_segun_ahorros_actual)}"
            .chart-title-new-system
              = t('.mixed_system')
            .chart-new-system
              = "#{number_to_currency(@pension_aproximada_reforma)}"
            .chart-title-afp-proposal
              = t('.afp_system')
            .chart-afp-proposal
              = "#{number_to_currency(@pension_aproximada_asafondos)}"

            %canvas{id: "pension"}
            :javascript
              var pensionChart = document.getElementById("pension");
              var barChartDataPension = new Chart(pensionChart, {
                type: 'bar',
                data: {
                  labels: ["Actual", "Prop. gobierno", "Prop. AFP"],
                  datasets: [
                    {
                      label: 'Comision para AFP',
                      data: [#{@pension_segun_ahorros_actual.round(2)}, #{@pension_aproximada_reforma.round(2)}, #{@pension_aproximada_asafondos.round(2)}],
                      backgroundColor: [
                        'rgba(233,143,111,0.8)',
                        'rgba(128,185,66,0.8)',
                        'rgba(176,120,175,0.8)',
                      ],
                      borderColor: [
                        'rgba(233,143,111,1)',
                        'rgba(128,185,66,1)',
                        'rgba(176,120,175,1)',
                      ],
                      borderWidth: 1
                    },
                  ]
                },
                options: {
                  legend: {
                    display: false,
                  },
                  title: {
                    display: false,
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  }
                }
              });

          - if @pension_segun_ahorros_actual <= 207.6 || @pension_aproximada_reforma <= 207.6 || @pension_aproximada_asafondos <= 207.6
            .chart-special-legend
              = t('.clarification_current_system')
        .col-md-12.col-sm-12
          %h2
            Comisión para AFP

          .canvas-holder-savings
            .chart-title-current-system
              = t('.current_system')
            .chart-current-system
              = "#{number_to_currency(@comisiones_pagadas_a_afp_actual)}"
            .chart-title-new-system
              = t('.mixed_system')
            .chart-new-system
              = "#{number_to_currency(@comisiones_pagadas_a_afp_reforma)}"
            .chart-title-afp-proposal
              = t('.afp_system')
            .chart-afp-proposal
              = "#{number_to_currency(@comisiones_pagadas_a_afp_asafondos)}"

            %canvas{id: "comision"}
            :javascript
              var comisionChart = document.getElementById("comision");
              var barChartDataComision = new Chart(comisionChart, {
                type: 'bar',
                data: {
                  labels: ["Actual", "Prop. gobierno", "Prop. AFP"],
                  datasets: [
                    {
                      label: 'Pension a recibir',
                      data: [#{@comisiones_pagadas_a_afp_actual.round(2)}, #{@comisiones_pagadas_a_afp_reforma.round(2)}, #{@comisiones_pagadas_a_afp_asafondos.round(2)}],
                      backgroundColor: [
                        'rgba(233,143,111,0.8)',
                        'rgba(128,185,66,0.8)',
                        'rgba(176,120,175,0.8)',
                      ],
                      borderColor: [
                        'rgba(233,143,111,1)',
                        'rgba(128,185,66,1)',
                        'rgba(176,120,175,1)',
                      ],
                      borderWidth: 1
                    },
                  ]
                },
                options: {
                  legend: {
                    display: false,
                  },
                  title: {
                    display: false,
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  }
                }
              });

          .comision-savings
            %h3= "Comisión de la AFP como porcentaje del ahorro total individual: "
            .row
              .col-sm-4.col-xs-4
                .info
                  .square.light-red
                  %p
                    = "#{@porcentaje_ahorro_comision_actual}%"
              .col-sm-4.col-xs-4
                .info
                  .square.light-green
                  %p
                    = "#{@porcentaje_ahorro_comision_reforma}%"
              .col-sm-4.col-xs-4
                .info
                  .square.light-purple
                  %p
                    = "#{@porcentaje_ahorro_comision_asafondos}%"
          -#
            .canvas-holder-polar
              .chart-donut-current-system
                = number_to_currency(@comisiones_pagadas_a_afp_actual.round(2))
              .chart-donut-goverment-reform
                = number_to_currency(@comisiones_pagadas_a_afp_reforma.round(2))
              .chart-donut-afp-reform
                = number_to_currency(@comisiones_pagadas_a_afp_asafondos.round(2))

              %canvas{id: "bar-comision-afp"}
              :javascript
                var comissionChart = document.getElementById("bar-comision-afp");
                var barChartDataCommission = new Chart(comissionChart, {
                  type: 'doughnut',
                  data: {
                    labels: ["Actual", "Prop. gobierno", "Prop. AFP"],
                    datasets: [
                      {
                        label: 'Comision para AFP´s',
                        data: [#{@comisiones_pagadas_a_afp_actual.round(2)}, #{@comisiones_pagadas_a_afp_reforma.round(2)}, #{@comisiones_pagadas_a_afp_asafondos.round(2)}],
                        backgroundColor: [
                          'rgba(233,143,111,0.8)',
                          'rgba(128,185,66,0.8)',
                          'rgba(176,120,175,0.8)',
                        ],
                        borderColor: [
                          'rgba(255,255,255,1)',
                          'rgba(255,255,255,1)',
                          'rgba(255,255,255,1)',

                        ],
                        borderWidth: 2
                      },
                    ]
                  },
                });

        .col-sm-12
          %h2
            Ahorro individual
          .canvas-holder-savings
            .chart-title-current-system
              = t('.current_system')
            .chart-current-system
              = "#{number_to_currency(@valor_final_actual)}"
            .chart-title-new-system
              = t('.mixed_system')
            .chart-new-system
              = "#{number_to_currency(@valor_final_reforma)}"
            .chart-title-afp-proposal
              = t('.afp_system')
            .chart-afp-proposal
              = "#{number_to_currency(@valor_final_asafondos)}"
            %canvas{id: "my-savings"}
            :javascript
              var savingsChart = document.getElementById("my-savings");
              var barChartDataSavings = new Chart(savingsChart, {
                type: 'bar',
                data: {
                  labels: ["Actual", "Prop. gobierno", "Prop. AFP"],
                  datasets: [
                    {
                      label: 'Total ahorros',
                      data: [#{@valor_final_actual.round(2)}, #{@valor_final_reforma.round(2)}, #{@valor_final_asafondos.round(2)}],
                      backgroundColor: [
                        'rgba(233,143,111,0.8)',
                        'rgba(128,185,66,0.8)',
                        'rgba(176,120,175,0.8)',

                      ],
                      borderColor: [
                        'rgba(233,143,111,1)',
                        'rgba(128,185,66,1)',
                        'rgba(176,120,175,1)',
                      ],
                      borderWidth: 1
                    },
                  ]
                },
                options: {
                  legend: {
                    display: false,
                  },
                  title: {
                    display: false,
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  },
                }
              });
      %br

.container
  .row
    .col-md-12
      =# link_to "Quiero conocer más", forums_subscribe_url(), class: "btn btn-success btn-subscribe"

#considerations
  .container
    .row
      .col-md-6.col-sm-6.hidden-xs
        = image_tag("forums/consideraciones.png", class: "img-responsive", title: "Consideraciones a tomar en cuenta")
      .col-md-6.col-sm-6.col-xs-12
        .calculator-container
          %h2
            = "Algunas consideraciones..."
          %ul
            %li
              = "En ambas propuestas se considera la creación de un fondo colectivo además del fondo de pensiones existente, que también será administrado por las AFP."
            %li
              = "En la propuesta de la ICP se cotiza más y se ahorra menos, porque lo aportado a la reserva de pensión vitalicia no forma parte del ahorro de los cotizantes, ni puede heredarse."
            %li
              = "Con la nueva propuesta del Gobierno aumenta la pensión, ya que lo aportado al fondo colectivo es parte del ahorro de los cotizantes, devenga rentabilidad, se puede heredar, permite cobertura del ISSS y garantiza la pensión mínima vitalicia cuando se agota el ahorro individual."
            %li
              = "En la nueva propuesta del Gobierno, ninguna entidad pública o privada puede hacer uso de los fondos y se establece que, deberá destinarse el 5% del presupuesto general de la nación, al fondo colectivo."
          .row
            .col-md-12
              -# link_to forums_root_url << "PropuestaGob-reforma-pensiones.pdf", target: "_blank", class: "btn btn-default btn-proposal" do
                %span.glyphicon.glyphicon-arrow-down
                &nbsp;
                = "Propuesta del Gobierno"
