.wrapper-form
  .container
    .row
      .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
        -# %h2
        -#   Donantes a partidos políticos
        .fb-video{"data-href" => "https://www.facebook.com/MarcosRodriguezSV/videos/2086915628211615/", "data-show-text" => "false", "data-width" => "780"}
          %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/MarcosRodriguezSV/videos/2086915628211615/"}
            %a{:href => "https://www.facebook.com/MarcosRodriguezSV/videos/2086915628211615/"} Donantes a Partidos Políticos 2006-2018
            = succeed "Posted" do
              %p A las 8:00 p.m. por aquí haré pública la lista de donantes a partidos políticos desde 2006-2018.
            %a{:href => "https://www.facebook.com/MarcosRodriguezSV/"} Marcos Rodríguez
            on lunes, 19 de febrero de 2018

    .row
      .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
        .calculator-container
          .calc-description
            La Secretaría de Participación, Transparencia y Anticorrupción ha preparado un informe que contiene los datos más relevantes de los donantes particulares a los principales Partidos Políticos desde 2006, en el mismo encontrarán gráficos que facilitan la comprensión de los datos.
            %br
            %br
            Asimismo pone a disposición de la ciudadanía la información remitida por el Ministerio de Hacienda y toda la documentación legal (sentencias y leyes) que sirvió de insumo para el Informe sobre aportes privados a los Partidos Políticos 2006-2018.
.calculator-actions
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      .row
        .col-xs-6.col-md-3
          = link_to 'Anexos-LPP.zip', class: 'btn-anexos', target: '_blank' do
            = image_tag 'icon-proceso.png', alt: 'Documentos del proceso', class: 'img-responsive'
        .col-xs-6.col-md-3
          = link_to 'Informe_final_partidos_politicos_2006_2018.pdf', class: 'btn-informe', target: '_blank' do
            = image_tag 'icon-informe.png', alt: 'Informe', class: 'img-responsive'
        .col-xs-6.col-md-3
          = link_to 'Financiamiento_privado_PP.zip', class: 'btn-excel', target: '_blank' do
            = image_tag 'icon-excel.png', alt: 'Documentos en Excel', class: 'img-responsive'
        .col-xs-6.col-md-3
          = link_to 'UAIP-RES-0083-2-2018-VP.pdf', class: 'btn-resolucion', target: '_blank' do
            = image_tag 'icon-resolution.png', alt: 'Resolución', class: 'img-responsive'
.calculator-table#calculator-table
  .row
    .col-xs-12.col-md-8.col-md-offset-2.col-sm-12
      = search_form_for @q, url: root_url(anchor: 'calculator-table') do |f|
        .row
          .col-xs-12.col-sm-6.col-md-4
            = f.collection_select :political_id_in, @politicals, :id, :acronym, {}, {class: 'js-politicals-select', multiple: true}
          .col-xs-12.col-sm-6.col-md-2
            = f.select :year_in, options_for_select(2006..2018, (params[:q][:year_in] rescue false)), {}, {class: 'js-years-select', multiple: true}
          .col-xs-12.col-sm-6.col-md-6
            = f.text_field :donor_acont, placeholder: 'Donante'
            %button{ type: 'submit' }
              = image_tag 'filter.png'
      - if @donations.any?
        %br
        .table-responsive
          %table.table
            %thead
              %tr
                %th Año
                %th Partido
                %th Donante
                %th Monto
            %tbody
              - @donations.each do |d|
                %tr
                  %td= d.year
                  %td= d.political.acronym
                  %td= d.donor
                  %td= number_to_currency d.amount
        %center
          = will_paginate @donations
      - else
        .well
          Lo sentimos, no se encontraron resultados para su filtro de búsqueda
