.header-calc-bg
  .container
    .row
      .col-sm-6.col-xs-12
        %h1
          = link_to "Donantes a Partidos Políticos 2006-2018", root_url()
      -# .col-sm-6.col-xs-12
      -#   .text-center
      -#     = link_to image_tag("forums/SPTA.png", class: "spta"), "http://spta.gob.sv/", target: "_blank"
