// bootstrap
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jssocials';
@import 'jssocials-theme-classic';
@import 'jquery-ui';

// Typography
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-weight: 700px;

@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
$font-family-sans-serif: 'Dosis', sans-serif;
$headings-font-weight: 700px;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-weight: 700px;


.centered {
  text-align: center;
  margin: 0 auto;
}

.header-bg{
  background: #2D3E50;
  padding: 5px;
  text-align: center;
  margin: 0;
  border-bottom: 5px solid #243140;
  h1{
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
  }
}

#subscribe{
  padding: 30px 0;
  background-color: #054261;
  h3, p{
    color: #fff;
  }
  h3{
    margin: 0 0 10px;
  }
}

.default-margin{
  margin: 10px 0;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

ul#lightSlider {
  display: flex;
  flex-wrap: wrap;
  li.slide {
    display: flex;
    padding: 0.5em;
    width: 100%;
  }
  div.slide-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }
  p.quote {
    flex: 1 0 auto;
  }
  p.author {
    font-weight: bolder;
  }
}

// Place all the styles related to the Forum::Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #fff;
$white-alt: #eee;
$btn-border-green: #5ba598;
$purple: #705671;
$light-purple-bg: #e2ddda;
$purple-bg: #d8a7da;
$green-bg: #71c9bd;
$green-dark-title: #2a542b;
$black: #000;
$purple-btn: #4d3147;
$green-light-bg: #d0ffd1;

$brown-light: #225e66;
$brown: #3a3027;

h1.problem-title {
  color: $white;
  font-family: 'Roboto'; // ROBOTO
  font-size: 3em;
  margin: 0;
  padding: 20px 0 40px;
  text-align: center;
}

h2 {
  color: $purple;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
}

h2.problem-description {
  color: $black;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0 30px;
}

p.pensions-calc {
  color: $black;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 10px 17px;
}

.reform-container {
  background: $white-alt;
  margin: 20px auto;
  max-width: 400px;
  opacity: .7;
  padding: 20px 20px 30px;
  width: 100%;
}

.other-calc {
  padding: 30px 10px;
  text-align: center;
}

p.subject {
  color: $white;
  font-size: 22px;
  margin: 0;
  padding: 30px 0 0;
  text-align: center;
}

.wrapper-wage-video {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
}

footer {
  background: $white;
  padding: 10px 0;
}

#wrapper-positions {
  background: $white-alt;
  padding: 30px 0;
}

p.description-topic {
  font-family: 'Roboto';
  text-align: center;
}

.play-video {
  display: block;
  margin: 0 0 75px;
  text-align: center;
}

.go-to-positions {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.blue-slide-bg,
.sky-slide-bg {
  padding: 20px 25px 30px;
}

.blue-slide-bg {
  background: #8AC4F4;
}

.sky-slide-bg {
  background: #86E2D5;
}

.btn-success {
  color: #fff;
  background-color: #71c9bd;
  border-color: #5ba598;
}

.btn-success:hover {
  color: #fff;
  background-color: #5ba598;
  border-color: #5ba598;
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #5ba598;
  border-color: #5ba598;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #5ba598;
  border-color: #5ba598;
}

.btn-custom-reply {
  border-color: #b85b28;
  border-image: none;
  border-style: solid;
  border-width: 2px 2px 6px;
  font-size: 2em;
  font-weight: bold;
  padding: 18px 0;
  width: 100%;
}

li.slide {
  text-align: center;

  p.quote {
    text-align: left;
  }

  a.source {
    border: 1px solid $white;
    color: $white;
    display: table;
    margin: 15px auto;
    max-width: 100px;
    padding: 5px;
    width: 100%;
  }
}

li.slide:hover {
  background: #F7CA17;
}

.charts-description {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  .well.graphic-legend {
    background: $white;
    margin-bottom: 0px;
    padding: 10px 20px;

    h2.chart {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.5;
      margin: 10px 0 !important;
      text-align: left !important;
    }
  }
}

.current-system-cons {
  span {
    color: #5CB85C;
    font-size: 26px;
    font-weight: bold;
  }

}

.calc-description {
  color: #333;
  font-size: 16px;
  margin: 1em 0 1.2em 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.datetime-select {
  display: inline-block;
  width: auto;
}

//STANDALONE
.header-calc-bg {
  background: $brown-light;
  margin: 0;
  padding: 5px 10px;

  h1 {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 7px 0 5px;
    padding: 0;
    text-align: left;

    a {
      color: $white;
    }
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 5px;
    text-align: right;

    a {
      color: $green-dark-title;
    }
  }


}

#wrapper-calculator {
  //position: relative;
}

.wrapper-form {
  background: $white;
  padding: 20px 0 20px;
}

#calculator-form-advanced {
  display: none;
}

#considerations {
  background: $purple-bg;
  padding: 20px 0 0;
}

.wrapper-margin {
  margin: 0 15px;
}

.social-share-inline {
  // position: absolute;
  // right: 0;
  // top: 0;
  // z-index: 999;
  margin: 0 auto;
  width: 325px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $brown;
}

.btn-calculate {
  border-bottom: 3px solid $brown;
  border-radius: 6px;
  //display: inline-block;
  font-size: 14px;
  font-weight: bold;
  //margin: 0 0 10px;
  //max-width: 230px;
  //padding: 15px;
  text-transform: uppercase;
  //width: 100%;
  //margin-right: 20px;
  //margin: 0 auto;
  background: $brown-light !important;
  color: $white;

}

.btn-transparent {
  border: 2px solid $btn-border-green;
  border-radius: 5px;
  color: $btn-border-green;
  text-decoration: none;
  margin-right: 0;
}

.btn-proposal,
.btn-subscribe {
  border-bottom: 3px solid $purple-btn;
  display: block;
  font-size: 16px;
  margin: 20px auto 30px;
  max-width: 300px;
  padding: 15px 20px;
}

.ui-state-active {
  background: $green-dark-title !important;
  border: 1px solid $btn-border-green !important;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
  background: $white !important;
  border: $white !important;
}

#results {
  background: #fafafa;
  padding: 20px 0 0;

  h2 {
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 40px;
    text-align: center;
  }
  .no-margin-bottom {
    margin-bottom: 10px;
  }

}

.comision-savings-bg {
  background: $green-light-bg;
}

.comision-savings {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 auto 30px;
  max-width: 700px;
  padding: 15px 20px;
  position: relative;
  text-align: left;
  width: 100%;

  h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }

  .info {
    display: table;
    margin-top: 10px;
  }

  .square,
  p {
    display: table-cell;
  }

  .square {
    height: 30px;
    width: 50px;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    vertical-align: middle;
  }

  .my-savings {
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
  }

  span {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
  }

  .glyphicon-arrow-down {
    color: rgba(179,53,33,0.8);
  }

  .glyphicon-arrow-up {
    color: rgba(128,185,66,0.8);
  }

  .light-red {
    background-color: rgba(233,143,111,0.8);
  }

  .light-green {
    background-color: rgba(128,185,66,0.8);
  }

  .light-purple {
    background-color: rgba(176,120,175,0.8);
  }
}

.canvas-holder,
.canvas-holder-savings,
.canvas-holder-polar {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  width: 100%;

  .percentage-value {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    position: absolute;
    right: 0;
    top: 35%;
    width: 100px;
  }

  .chart-current-system,
  .chart-new-system,
  .chart-afp-proposal,
  .chart-title-current-system,
  .chart-title-new-system,
  .chart-title-afp-proposal {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    position: absolute;
    width: 105px;
  }

  .chart-current-system {
    left: 14%;
    top: 60%;
  }

  .chart-new-system {
    left: 43%;
    top: 60%;
  }

  .chart-afp-proposal {
    right: 15%;
    top: 60%;
  }

  .chart-legend-current-system {
    bottom: 5%;
    color: #666;
    font-size: 11px;
    height: 50px;
    left: 30px;
    position: absolute;
    text-align: left;
    width: 230px;
  }

  .chart-legend-new-system {
    bottom: 5%;
    color: #666;
    font-size: 11px;
    height: 50px;
    left: 290px;
    position: absolute;
    text-align: left;
    width: 230px;
  }

  .chart-legend-afp-proposal {
    bottom: 5%;
    color: #666;
    font-size: 11px;
    height: 50px;
    position: absolute;
    right: 30px;
    text-align: left;
    width: 230px;
  }

  .chart-title-current-system,
  .chart-title-new-system,
  .chart-title-afp-proposal {
    font-size: 14px;
    top: -5%;
    width: 160px;
  }

  .chart-title-current-system {
    left: 10%;
  }

  .chart-title-new-system {
    left: 40%;
  }

  .chart-title-afp-proposal {
    right: 10%;
  }
}

.canvas-holder-polar {
  max-width: 400px;
  position: relative;

  .chart-donut-goverment-reform,
  .chart-donut-current-system,
  .chart-donut-afp-reform {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    position: absolute;
    width: 105px;
  }

  .chart-donut-current-system {
    top: 25%;
    right: 20%;
  }

  .chart-donut-goverment-reform {
    bottom: 15%;
    left: 30%;
  }

  .chart-donut-afp-reform {
    left: 18%;
    top: 25%;
  }

}

.chart-special-legend {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  width: auto;
  text-align: left;
  padding-left: 20px;
}

.graphic-legend {
  background: $white;
  min-height: 100px;
}

.items {
  display: table-row;

  .color-item-gray,
  .text-item,
  .color-item-green,
  .color-item-red,
  .color-item-total,
  .color-item-fraction {
    display: table-cell;
    margin: 10px;
    padding-right: 10px;
  }

  .color-item-gray,
  .color-item-green,
  .color-item-red,
  .color-item-total,
  .color-item-fraction {
    display: table-cell;
    height: 10px !important;
    padding-right: 10px;
    width: 40px;

    .square {
      height: 40px;
      width: 40px;
    }
  }

  .color-item-gray {
    .square {
      background: rgba(220,220,220,0.5);
    }
  }

  .color-item-green {
    .square {
      background: rgba(128,185,66,0.7);
    }
  }

  .color-item-red {
    .square {
      background: rgba(233,143,111,0.7);
    }
  }

  .color-item-total {
    .square {
      background: #46BFBD;
    }
  }

  .color-item-fraction {
    .square {
      background: #F7464A;
    }
  }

  .text-item {
    vertical-align: top;
  }

  .item-description {
    vertical-align: middle;
    display: table-cell;
  }
}

p.dollar-values {
  margin-top: 15px;
  font-size: 11px;
}

table.table.table-bordered.table-striped {

  td.value {
    font-size: 16px;
    text-align: right;
    width: 30%;
  }

  td.data-info {
    width: 70%;
  }
}

.error {
  color: #D9534F;
}

.field-with-errors {
  background: $white;
  border: 1px solid #ccc;
  input {
    border: 1px solid #D9534F;
  }
  label.message {
    color: #D9534F;
  }
}

.spta{
  width: 264px;
}

.form-control.form-control.error {
  border: 1px solid #AD2723;
}

.subscription-container {
  min-height: 300px;
  padding: 20px 10px;
}

.calculator-container {

  h2 {
    color: #3a3027;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 20px;
    //margin-left: -15px;
    text-align: center;
  }

  ul {
    color: $white-alt;
    font-size: 16px;
    font-weight: 1.5;
    list-style: decimal;
    margin-bottom: 25px;
    padding-left: 0;

    li {
      margin-bottom: 10px;
    }
  }

}

.gender {
  display: inline-block;
  font-size: 15px;
  margin: 5px 0 15px;

  .left-0 {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .calculator-container {

    h2 {
      font-size: 20px;
      margin-top: 5px;
    }
  }
}

@media (max-width: 960px) {
  .canvas-holder,
  .canvas-holder-savings {
    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal {
      font-size: 16px;
      top: 55%;
    }

    .chart-current-system {
      left: 15%;
    }

    .chart-new-system {
      left: 42%;
    }

    .chart-afp-proposal {
      right: 15%;
    }

    .chart-legend-new-system,
    .chart-legend-current-system {
      width: 160px;
    }
  }

}

h2.analysis-title {
  color: #5CB85C;
  font-family: 'Roboto', sans-serif;
}

.img-analysis {
  display: block;
  margin: 0 auto;
  text-align: center;
}

p.analysis {
  padding: 20px 15px;
  text-align: center;
}

@media (max-width: 800px) {
  .canvas-holder,
  .canvas-holder-savings {
    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal,
    {
      font-size: 16px;
    }

    .chart-current-system {
      left: 15%;
      top: 55%;
    }

    .chart-new-system {
      right: 14%;
      top: 55%;
    }

    .chart-afp-proposal {
      right: 14%;
      top: 55%;
    }

    .chart-legend-new-system,
    .chart-legend-current-system {
      width: 190px;
    }
  }

  .wrapper-wage-video {
    height: 550px;
  }

  .pensions-calc {
    padding: 0 0 17px;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  h2.problem-description {
    font-size: 16px;
    padding: 0;

    span {
      font-size: 22px;
    }
  }

  .play-video {
    margin: 0 0 50px;
  }

  .btn-custom-reply {
    font-size: 1.5em;
  }

  .wrapper-wage-video {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .wrapper-wage-video {
    height: 830px;
  }

  .play-video {
    margin: 0 0 30px;
  }

  p.subject {
    padding-top: 15px;
  }

  h1.problem-title {
    font-size: 4em;
  }

  h2.problem-description {
    font-size: 16px;
    padding: 0;
    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 720px) {

  .comision-savings {
    .my-savings {
      padding: 4px;
      font-size: 12px;
    }
    span {
      font-size: 12px;
      padding: 4px;
    }
  }

  .container {
    width: 100%;

    .col-sm-12 {
      padding: 0;
    }

  }

  .btn-calculate {
    //margin: 0 auto 20px;
  }

  .header-calc-bg {
    h1,
    h2 {
      text-align: center;
    }
  }

  .canvas-holder,
  .canvas-holder-savings {

    .chart-title-current-system,
    .chart-title-new-system,
    .chart-title-afp-proposal {
      font-size: 12px;
      height: 70px;
      top: -10%;
      width: 100px;
    }

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal,
    {
      font-size: 12px;
      top: 60%;
    }

    .chart-current-system {
      left: 12%;
    }

    .chart-new-system {
      left: 40%;
    }

    .chart-afp-proposal {
      right: 14%;
    }

  }


  h1.problem-title {
    font-size: 4em;
  }

  h2 {
    font-size: 20px;
  }

  h2.problem-description {
    font-size: 20px;
  }

  p.subject {
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .btn-subscribe {
    width: 250px;
    padding: 10px 15px;
  }

  .comision-savings {
    margin: 0 auto 30px;
    padding: 10px;

    h3 {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
      margin-top: 0;
      text-align: center;
    }

    .info {
      display: table;
      margin-top: 10px;
    }

    .square {
      height: 20px;
      width: 35px;
    }

    p {
      font-size: 12px;
      font-weight: bold;
    }

    span {
      font-size: 12px;
    }

  }

  .calculator-container {

    h2 {
      font-size: 24px;
    }

    ul {
      font-size: 14px;
    }
  }

  .modal-dialog {
    width: 360px;
  }

  .wrapper-wage-video {
    height: 450px;
  }

  .canvas-holder {

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      bottom: 30%;
      font-size: 10px;
    }

    .chart-current-system {
      left: 12%;
    }

    .chart-new-system {
      left: 38%;
    }

    .chart-afp-proposal {
      right: 10%;
    }

  }

  .canvas-holder-savings {
    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      bottom: 30%;
      font-size: 10px;
    }

    .chart-current-system {
      left: 12%;
    }

    .chart-new-system {
      left: 40%;
    }

    .chart-afp-proposal {
      right: 11%;
    }
  }

  .canvas-holder-polar {

    .chart-donut-current-system,
    .chart-donut-goverment-reform,
    .chart-donut-afp-reform, {
      font-size: 14px;
    }

    .chart-donut-current-system,
    .chart-donut-afp-reform {
      top: 26%;
    }

    .chart-donut-goverment-reform {
      bottom: 10%;
      left: 35%;
    }

  }
}

@media (max-width: 420px) {

  .header-calc-bg {

    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
    }

  }

  .canvas-holder,
  .canvas-holder-savings {

    .chart-title-current-system,
    .chart-title-new-system,
    .chart-title-afp-proposal {
      font-size: 10px;
      height: 70px;
      top: -10%;
      width: 85px;
    }

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      font-size: 10px;
      top: 55%;
    }

  }

  .canvas-holder {

    .chart-current-system {
      left: 7%;
    }

    .chart-new-system {
      left: 35%;
    }

    .chart-afp-proposal {
      right: 8%;
    }
  }

  .canvas-holder-polar {

    .chart-donut-current-system,
    .chart-donut-afp-reform {
      top: 21%;
    }

  }

  .canvas-holder-savings {

    .chart-current-system {
      left: 10%;
    }

    .chart-new-system {
      left: 38%;
    }

    .chart-afp-proposal {
      right: 8%;
    }
  }

}

@media (max-width: 360px) {

  .header-calc-bg {

    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
    }
  }

  .canvas-holder,
  .canvas-holder-savings {

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      font-size: 9px;
      top: 55%;
    }
  }

  .canvas-holder {

    .chart-current-system {
      left: 7%;
    }

    .chart-new-system {
      left: 33%;
    }

    .chart-afp-proposal {
      right: 8%;
    }
  }


  .canvas-holder-polar {

    .chart-donut-current-system,
    .chart-donut-afp-reform {
      top: 25%;
    }

  }

  .canvas-holder-savings {

    .chart-current-system {
      left: 10%;
    }

    .chart-new-system {
      left: 35%;
    }

    .chart-afp-proposal {
      right: 8%;
    }
  }

}


@media (max-width: 320px) {

  .canvas-holder,
  .canvas-holder-savings {
    .chart-title-current-system,
    .chart-title-new-system,
    .chart-title-afp-proposal {
      font-size: 9px;
      height: 70px;
      top: -10%;
      width: 85px;
    }

    .chart-title-afp-proposal {
      right: 0;
    }

  }

  .canvas-holder {

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      font-size: 9px;
      top: 45%;
    }

    .chart-current-system {
      left: 6%;
    }

    .chart-new-system {
      left: 30%;
    }

    .chart-afp-proposal {
      right: 7%;
    }
  }

  .canvas-holder-savings {

    .chart-current-system,
    .chart-new-system,
    .chart-afp-proposal, {
      font-size: 9px;
      top: 35%;
    }

    .chart-current-system {
      left: 11%;
    }

    .chart-new-system {
      left: 38%;
    }

    .chart-afp-proposal {
      right: -1%;
    }

  }
}

.calculator-actions a {
  margin: .5em;
  text-decoration: none;
}

.calculator-actions {
  margin-bottom: 1em;
  text-align: center;
  padding: 2em;
}

.header-calc-bg h1 {
  line-height: 1.5em;
}

@media (min-width: 768px) {
  .header-calc-bg h1 {
    line-height: 2.5em;
  }
}

body {
  background: #e2ddda;
}

.calculator-table {
  padding: 2em 0 2em;
  background: white;
}

form.donation_search .row > div {
  margin-bottom: .5em;
}
form.donation_search button {
  margin: 0 .3em;
  padding: 0;
  border: none;
  background: none;
}

.donation_search input[type=text] {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  width: 80%;
  height: 2.2em;
  padding: 0 5px;
}


.pagination {
    font-size: 1.1em;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #444444;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #225e66 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #444444;
}

.pagination .disabled {
    color: #e2ddda;
}
