!!! 5
%html{ language: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport',    content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'title',       content: 'Donantes a Partidos Políticos 2006-2018' }
    %meta{ name: 'description', content: 'Conoce cuales han sido los donantes a los partidos políticos en los últimos años.' }

    %meta{:content => "www.donantespartidos.info", :property => "og:url"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Donantes a Partidos Políticos 2006-2018", :property => "og:title"}/
    %meta{:content => "Conoce cuales han sido los donantes a los partidos políticos en los últimos años.", :property => "og:description"}/
    %meta{:content => asset_url('gimmick.jpg'), :property => "og:image"}/


    %title
      Donantes a Partidos Políticos 2006-2018

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }
    %link{:href => "https://fonts.googleapis.com/css?family=Dosis", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag :application
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel: 'stylesheet'
    = javascript_include_tag :application
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-114313955-1"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}

    = csrf_meta_tags

    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114420066-1');

      $(function(){
        $('.btn-anexos').on('click', function() {
          ga('send', 'event', 'link', 'click', 'DESCARGA-ANEXOS', 1);
        });
        $('.btn-informe').on('click', function() {
          ga('send', 'event', 'link', 'click', 'DESCARGA-INFORME', 1);
        });
        $('.btn-excel').on('click', function() {
          ga('send', 'event', 'link', 'click', 'DESCARGA-EXCEL', 1);
        });
        $('.btn-resolucion').on('click', function() {
          ga('send', 'event', 'link', 'click', 'DESCARGA-RESOLUCION', 1);
        });
      });

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=603493576457207&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = render partial: 'layouts/forums/header_calc'
    #wrapper
      = yield
    %footer
      .container
        .col-md-6.col-sm-6.col-xs-12
          = link_to image_tag("forums/SPTA.png", class: "spta"), "http://spta.gob.sv/", target: "_blank"
        .col-md-6.col-sm-6.col-xs-12
